[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gcl = "*"
requests = "*"

[dev-packages]
pep8 = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"
gql = "*"
jupyter = "*"

[requires]
python_version = "3.6"
